<% @user.wall.posts.each do |post| %>
	<div class="status">
		<% if post.author.profile_photo %>
			<%= image_tag post.author.profile_photo.photo.url, :class => "status_picture" %>
		<% else %>
			<%= image_tag image_path("profile_default.png"), :class => "status_picture" %>
		<% end %>	
		<h3>
			<% if post.author != @user %>
				<%= link_to post.author.name, user_path(post.author.id) %> > 
				<%= link_to @user.name, user_path(@user.id) %>
			<% else %>	
				<%= link_to post.author.name, user_path(post.author.id) %>
			<% end %>	
		</h3>
		<h5><%= post.created_at.strftime("%B %d") %></h5>
		<p><%= post.content %></p>

		<!-- display likes -->
		<ul class="likers">
		<% if post.likers.any? %>
			<% post.likers.each do |liker| %>
				<li><%= link_to liker.name, user_path(liker.id) %></li>
			<% end %>
			<% if post.likers.count == 1 %>
			<li>likes this.</li>
			<% else %>
			<li>like this.</li>
			<% end %>
		<% end %>
		</ul>

		<!-- display 'like' or 'unlike' -->
		<ul class="like_comment">
			<% if liked?(post) %>
					<li><%= link_to "unlike", like_path(like_id(post)), :post_id => post.id, method: :delete %></li>
			<% else %>
					<li><%= link_to "like", likes_path(:post_id => post.id), method: :post %></li>
			<% end %>
			<li> | </li><li><%= link_to "comment", "#" %></li>
		</ul>
		<!-- form for comment display -->	
		<% @post.comments.each do |comment| %>
			<h4><%= comment.user.name %>: </h4>
			<p><%= comment.content %></p>
		<% end %>

	</div> <!-- end status -->
<% end %>