<% @user.wall.posts.each do |post| %>
	<div class="status">
		<% if post.author.profile_photo %>
			<%= image_tag post.author.profile_photo.photo.url, :class => "status_picture" %>
		<% else %>
			<%= image_tag image_path("profile_default.png"), :class => "status_picture" %>
		<% end %>	
		<h3>
			<% if post.author != @user %>
				<%= link_to post.author.name, user_path(post.author.id) %> > 
				<%= link_to @user.name, user_path(@user.id) %>
			<% else %>	
				<%= link_to post.author.name, user_path(post.author.id) %>
			<% end %>	
		</h3>
		<h5><%= post.created_at.strftime("%B %d") %></h5>
		<p><%= post.content %></p>

		<!-- display 'like' or 'unlike' | 'comment' -->
		<ul class="like_comment">
			<% if liked?(post) %>
					<li><%= link_to "unlike", like_path(like_id(post)), :post_id => post.id, method: :delete %></li>
			<% else %>
					<li><%= link_to "like", likes_path(:post_id => post.id), method: :post %></li>
			<% end %>
			<li> | </li>
			<li><a>comment</a></li>
			<li id="new_comment">
				<%= form_for @comment, :id => "new_comment" do |f| %>
					<%= f.text_field :content %>
					<%= hidden_field_tag "id", post.wall.user.id %>
					<%= hidden_field_tag "comment[commentable_id]", post.id %>
					<%= hidden_field_tag "comment[commentable_type]", post.class.to_s %>
					<%= f.submit %>
				<% end %>
			</li>
		</ul>
		<!-- display likes -->
		<ul class="likers">
		<% if post.likers.any? %>
			<% post.likers.each do |liker| %>
				<li><%= link_to liker.name, user_path(liker.id) %></li>
			<% end %>
			<% if post.likers.count == 1 %>
			<li>likes this.</li>
			<% else %>
			<li>like this.</li>
			<% end %>
		<% end %>
		</ul>
		<!-- form for comment display -->	
		<% post.comments.each do |comment| %>
		<div class="post_comment row">
			<div class="comment_photo span1">
				<%= image_tag comment.user.profile_photo.photo.url %>
			</div>	
			<div class="span7 comment_content">
				<span id="comment_content">
					<%= link_to comment.user.name, user_path(comment.user.id) %>
				</span>
				<%= comment.content %>
			</div>
		</div>		
		<% end %>
		<%= form_for @comment, :id => "new_comment_show" do |f| %>
					<%= f.text_field :content %>
					<%= hidden_field_tag "id", post.wall.user.id %>
					<%= hidden_field_tag "comment[commentable_id]", post.id %>
					<%= hidden_field_tag "comment[commentable_type]", post.class.to_s %>
					<%= f.submit %>
				<% end %>

		

		

	</div> <!-- end status -->
<% end %>