<%= render "cover_photo_style" %>
<%= render "shared/search_results" %>
<%= render "shared/notifications" %>
<div class="user_wrapper">
	<div class="banner_wrapper">

		<%= render "profile_header" %>
		<%= render "profile_nav" %>

	</div> <!-- end banner_wrapper -->	
	<div class="content">

		<div class="info_wrapper">

			<%= render "about" %>
			<%= render "friends" %>

		</div> <!-- end info_wrapper -->

		<div class="status_wrapper">

			<%= render "new_post" %>
			<%= render "status" %>	

		</div> <!-- end status_wrapper -->	

	<p id="clear">clear</p>	

	</div> <!-- end content -->

</div> <!-- end user_wrapper -->
