
<div class="user_wrapper">
	<%= render "cover_photo_style" %>
	<div class="banner_wrapper">
		<div class="row">
		<div class="profile_header">
				<!-- profile photo -->
				<% if @user.profile_photo %>
					<%= image_tag @user.profile_photo.photo.url, :id => "profile_photo" %>
				<% else %>
					<%= image_tag ("profile_default.png"), :id => "profile_photo" %>
				<% end %>		
			<h1><%= @user.name %></h1>
			<% if current_user.friendships.where(:friend_id => @user.id).any? %>
				<button>Friend <%= link_to "(cancel)", friendship_path(current_user.friendships.where(:friend_id => @user.id).first.id), :method => :delete %></button>	
			<% elsif @user.id != current_user.id && current_user.sent_requests.where(:recipient_id => @user.id).any? %>
				<button>Friend Request Sent</button>
			<% elsif @user.id != current_user.id %>		
				<button><%= link_to "Send Friend Request", requests_path(:recipient_id => @user.id), :method => :post %></button>	
			<% end %>
		</div> <!-- end profile_header -->
		</div>
		<div class="row">
		<div class="profile_nav">
			<ul class="nav">
				<li class="live">Timeline</li>
				<li>About</li>
				<li>Photos</li>
				<li>Friends</li>
			</ul>
		</div> <!-- end profile_nav -->	
		</div>
	</div> <!-- end banner_wrapper -->	
	<div class="content row">

	<div class="timeline_tab">	
		<div class="info_wrapper span5 offset1">

			<div class="about">
				<%= render "about" %>
			</div> <!-- end about -->
			<%= render "friends" %>

		</div> <!-- end info_wrapper -->

		<div class="status_wrapper span9">

			<%= render "new_post" %>
			<%= render "status" %>	

		</div> <!-- end status_wrapper -->	

	<p id="clear">clear</p>	
</div> <!-- end timeline -->

<div class="about_tab span14 offset1">
	<%= render "about" %>
</div>

<div class="photos_tab span14 offset1">
	<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Thumbnail Gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
        
        </div>
	<% @user.photos.each do |photo| %>
	<div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="#">
			<%= image_tag photo.photo.url, :class => "img-responsive" %>
		</a>
    </div>
	<% end %>	
</div>
</div>

<div class="friends_tab span14 offset1">
	<% if @user.friends.any? %>
		<h1><%= @user.first_name %>'s friends</h1>
		<% @user.friends.each do |friend| %>
			<h2><%= friend.name %></h2>	
		<% end %>
	<% else %>
			<h1><%= @user.first_name %> has no friends.</h1>
	<% end %>		
</div>
	</div> <!-- end content -->

</div> <!-- end user_wrapper -->
