<!DOCTYPE html>
<html>
<head>
  <title>Facebook</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if alert %>
	<p class="alert alert-danger"><%= alert %></p>
<% end %>
<% flash.each do |key, value| %>
	<%= content_tag(:div, value, class: "alert alert-#{key}")%>
<% end %>
	

<% if current_user %>
	<%= render "shared/header_signed" %>	
<% end %>
<%= yield %>
<%= debug(params) %>

</body>
</html>
